<%- include('header.ejs') %>

    <h2>Accounts:</h2>
    <div class="container">
        <% for (let i = 0; i < accounts.length; i++) { %>
            <div class="row account">
                <div class="col-sm">
                    <%= accounts[i].id %>
                </div>
                <div class="col-sm">
                    <%= accounts[i].total %> $
                </div>
                <div class="col-sm">
                    <form method="post" action="/accounts/delete">
                        <input type="hidden" name="id" value=<%= accounts[i].id %>>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    <div>
        <h3>Transfer money to account:</h3>
        <form method="post" action="/accounts/send">
            <input type="text" name="sender_id" placeholder="Sender account id"><br>
            <input type="text" name="receiver_id" placeholder="Receiver account id"><br>
            <input type="number" name="total_sum" placeholder="Sum">
            <br>
            <button class="btn btn-primary" type="submit">Send Money</button>
        </form>
    </div>
    <div class="row">
        <h3>Create new account:</h3>
        <form method="post" action="/accounts/create">
            <button class="btn btn-success" type="submit">New Account</button>
        </form>
    </div>

<%- include('footer.ejs') %>
